@using CoreDemo.Shared.Models
@model IEnumerable<Comment>

	@foreach (var item in Model)
   {
	   
<div class="comment-top">
						<h4>Yorumlar</h4>
						<div class="media"> 
							<div class="media-body">
								<h5 class="mt-0">@item.CommentTitle</h5>
								<p>@item.CommentContent</p>
								 
								 
							</div>
						</div>
					</div>
   }
